
body {
   margin-top: 5px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px; 
}
 
 
#B1 {

background-color:rgba(246, 246, 239 , 1);
 
}


#BG1 {
display : inline-flex;
height : 80px;
font-weight : bold ;
 font-family: Arial;
 
}

#BG1 a {
	text-decoration:none;
	color : white;
	font-size: 100%;
	line-height: 80px;
} 

.BGOrange {
 
background-color:rgba(240, 117, 48 , 1);
    width : 813px;

 }
  
.story {
color : black;
font-size: 120%;
text-decoration:none;
  font-weight: bold;
  padding-left: 10px;  
 	 
	 
}


.hline-bottom {
    margin-right: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray; 
 
 
}


li.NonType {
 font-size: 100%;
 list-style-type: none;
  font-weight: none;
}

#footDiv a {
font-weight : bold;
color : black;
	text-decoration:none;
}



.grayColor {
color : gray;
}

.ImgList {
 list-style-image: url('https://a.top4top.net/p_652la7ly1.png');
}

#FirstIcon{
background: gray  ;
width : 150px;
text-align: center; 
vertical-align: middle;

}

span {
      padding: 31px 25px 32px 25px;
}

span:hover {
color : black ;
background-color:rgba(246, 246, 239 , 1);
}
