body {

	background : #CCCCCC 
	 
}

#Body1 {


    margin-top: 1%;
    margin-right: 25%;
    margin-left: 25%; 
	margin-bottom : 5px;
    background : white ; 
    padding-top: 4%;
    padding-right: 2%;
    padding-left: 2%;
	padding-bottom : 35px;



}

 .Input {
 margin-top : 10px;
 width:94%;
 height : 40px;

   border: 1px solid black;
  color: white;  
   padding-left:20px;
   font-size:100%;
   font-weight:bold; 

 }
 
 .Input:focus {

 background : #ADD8E6 ; 


 }
 
 
 form {
 font-size : 20px;
 
 }
 
 .button{
 
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 90%;
   
    
 }
